/* Path: css/sfe.css */

/* back button*/

#back {
    /* position: absolute; */
    padding: 1% 1% 0% 1%;
    width: 100%;
}

#back a {
    color: black;
    background-color: rgb(168, 168, 168);
    padding: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 5%;
    text-decoration: none;
    font-size: 150%;
}

#back a:hover {
    cursor: pointer;
}

/* Article */
section header h1 {
    font-size: 175%;
}

/* table */
#maintenance-loan-sfe, #sfe-repayment-table {
    border: 1px solid black;
    margin: 0 auto;
}

#maintenance-loan-sfe tr, td, th {
    text-align: center;
    padding: 1% 1% 1% 1%;
}

#maintenance-loan-sfe tr:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

#maintenance-loan-sfe tr:nth-child(odd) {
    background-color: rgb(211, 211, 211);
}

#maintenance-loan-sfe tr:nth-child(1) {
    background-color: lightblue;
}

/* SFE Repayment Table */

#sfe-repayment-table tr:nth-child(even) {
    background-color: rgb(224, 224, 224);
}   

#sfe-repayment-table tr:nth-child(odd) {
    background-color: rgb(211, 211, 211);
}

#sfe-repayment-table tr:nth-child(1) {
    background-color: lightblue;
}

#sfe-repayment-table tr td:nth-child(4) {
    text-align: left;
}

/* tablet */
@media only screen and (max-width: 1242px) {
    table {
        width: 100%;
    }

    .large-table-wrapper {
        overflow-x:auto;
    }

    .large-table-wrapper table {
        width: 200%;
    }
}