/* 
    Queen Mary University of London (QMUL)
    qNomics Financial Literacy Project
    Date: 14/12/2023
    Developed by: Rahat Ali
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global */
body{
    font-family: Poppins, Arial, Helvetica, sans-serif; 
    margin: 0% 0% 0% 0%;
}

/* Titlepage */
#titlepage {
    background-color: #0d3273;
    color: white;
    padding: 0.05% 0% 0.05% 0%;
    text-align: center;
}


/* container */
.container {
    padding: 0% 20% 0% 20%;
}

/* Tile */
.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile {
    width: 39%;
    height:10%;
    padding: 0% 0% 0% 0%;
    margin: 1% 0% 2% 0%;
    display: inline-block;
    background-color: #b9c6ff;
    transition: transform 0.3s ease-in-out;
    border-color: black;
    border-style: solid;
    text-align: center;
    border-radius: 10%;
}

.tile * {
    size: 100%;

}

.tile a {
    text-decoration: none;
    color: black;
}

.tile:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.icon {
    font-size: 500%;
    padding: -10% -10% -10% -10%;
    margin-left: auto;
    margin-right: auto;
}

/* About */
#about {
    padding: 1% 0% 1% 0%;
    font-size: 120%;
}

/* Articles */
#articles {
    padding: 1% 0% 1% 0%;
    font-size: 100%;
}

/* Footer */
footer {
    margin-top: 1%;
    background-color: #0d3273;
    color: white;
    text-align: center;
    padding: 1% 3% 1% 3%;
}

#disclaimer *{
    color: #bbbbbb;
}

/* Chart.js */
#chartContainer {
    height: 420px;
    max-width: 100%;
}

/* Style input boxes and submit button*/
#inputbox input, #inputbox select{
    width: 50%;
    padding: 2% 2% 2% 2%;
    margin: 2% 1% 1% 1%;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

/* make submit button and input boxes arger and add colour */
#inputbox {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #0d3273;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 1%;
}

#inputbox button {
    width: 50%;
    padding: 2% 2% 2% 2%;
    margin: 2% 1% 1% 1%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f1f1f1;
    cursor: pointer;
}

#debtPaid {
    color:lightgreen;
}

.noticebox {
    display: block;
    margin: 0px auto;
    text-align: center;
    background-color : #f2f2f2;
    border-radius: 5px;
    width: 300px;
}

#tool_warning {
    display: block;
    margin: 0px auto;
    background-color : #f89595;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

/* Table */
#maintenance-loan-sfe {
    width: 100%;
    border-collapse: collapse;
    margin-left: 1%;
}


/* tablet */

@media only screen and (max-width: 1242px) {
    .icon {
        height: auto;
        width: 70%;
    }

    .container {
        padding: 0% 2% 0% 2%;
    }

    #inputbox {
        width: 95%;
    }

    #inputbox input, #inputbox select {
        width: 80%;
    }

    img {
        width: 100%;
    }
}


/* mobile */

@media only screen and (max-width: 720px) {
    .tile {
        width: 100%;
        height: 20%;
    }

    #about {
        font-size: 100%;
    }


}